**/node_modules
npm-debug.log
**/Dockerfile*
**/docker-compose*
.dockerignore
# .git is included because we retrieve the current git tag/commit hash during the build for version in the interface
.gitignore
README.md
LICENSE
data
**/venv/
**/.venv/
.env/
env/